body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dt, dd, img, form, fieldset, blockquote {  
    margin:0px; padding:0px; border:0px;   
}  

body {font-family: helvetica, Arial, sans-serif; font-size: 62.5%; }  


li { color:#404040; }
.container {width: 900px; margin: 0 auto; }

#title { padding-bottom: 10px; border-bottom: 1px solid #000; }

#title h1 {
    font-family: "Myriad Pro", arial, sans-serif;   
    font-weight: normal;   
    font-size: 3.2em;    
    padding-top: 25px;   
}

#title a { text-decoration: none;   color: #000;  }

#content{  float: left;   width: 67%;   margin-top: 0;   font-size: 1.4em; }
  
#sidebar {  float: right;   padding: 2em 3%;   width: 20%;  border-left: 1px solid #000; height: 60em}

#sidebar ul {list-style: none; margin-left: 20px; }  
  
#sidebar ul li {font-size: 1.4em; padding-bottom: 7px;}  
  
#sidebar ul li a {text-decoration: underline;color: #525254; }

#footer {clear: both; height: 5em}

h2.announcement {font-size: 2.4em; margin: 1em 0 0 0;}  
.announcement {margin: 10px 0 40px 0; font-size:1.2em;}  
.announcement ul {margin-top: 20px;}

h2 {margin-top: 1em; margin-bottom:0.5em;}
h3 {margin-top: 1em; margin-bottom:0.5em;}

.section {margin: 10px 0 20px 0; }  

.section li span {color:#404040; font-size: 80%;}

ul.section li{line-height: 1.75em;}
ul.section {list-style-type: none;}

.extra {color:#ccc; text-decoration:none;}  

#post h1 {font-size: 1.6em; margin-bottom:0.5em; margin-top:1em;}
#post .meta {font-size: 1em; color:#aaa; margin-bottom:10px;}
#post .meta a {text-decoration:none; color:#aaa;}
#post p {margin-bottom:1em;}
#post h3 {margin-top:0em; margin-bottom:1em; font-weight: normal;font-size:1.2em;}
#post h2 {margin-bottom: 0em; font-weight: normal;font-size:1.4em;}

#disqus_thread { margin-top: 50px }

hr {
    border: 0;
    height: 1px;
    color: #999999;
    background-color: #000;
    margin-top: 2em;
}

#help ul {margin-left: 1em; }  
#future p{margin-top: 1.2em;}

ul {margin-left: 1em; margin-bottom: 1em;}  

.bold {font-weight: bold;}
