---
layout: default
title: Люди
---

<div id="home">

    <h2>Люди</h2>
    <div class="section">
        <p>Участники встреч. Ссылки на их компании, проекты, блоги...</p>
    </div>
        
    {% for p in site.categories.people reversed %}
    <div class="section">
        <strong>{{ p.title }}</strong><br/>
            {% if p.twitter %}
            <a href="http://twitter.com/{{p.twitter}}">@{{p.twitter}}</a><br/>
            {% endif %}
            {% if p.blog %}
            <a href="{{p.blog}}">блог</a><br/>
            {% endif %}
    </div>
    {% endfor %}

</div>
