---
layout: default
title: Люди
---

<div id="home">

    <h2>Люди</h2>
    <div class="section">
        <p>Участники встреч. Ссылки на их компании, проекты, блоги...</p>
    </div>
        
    {% for p in site.categories.people reversed %}
    <div class="section">
        <strong>{{ p.title }}</strong><br/>
            {% if p.twitter %}
            <a href="http://twitter.com/{{p.twitter}}">@{{p.twitter}}</a><br/>
            {% endif %}
            {% if p.blog %}
            <a href="{{p.blog}}">блог</a><br/>
            {% endif %}
            {% if p.site %}
            <a href="{{p.site}}">{{p.site_name}}</a><br/>
            {% endif %}
    </div>
    {% endfor %}

    <hr/>

    <h2>В твиттере</h2>
    <p>список <a href="http://twitter.com/dudarev/cnc-donetsk">@dudarev/cnc-donetsk</a></p>
    <br/>

<script src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'list',
  rpp: 30,
  interval: 6000,
  title: '#cncdnua',
  subject: 'люди посещавшие донецкий кофе-и-код',
  width: 500,
  height: 500,
  theme: {
    shell: {
      background: '#969fff',
      color: '#ffffff'
    },
    tweets: {
      background: '#ffffff',
      color: '#444444',
      links: '#5b3fa6'
    }
  },
  features: {
    scrollbar: true,
    loop: false,
    live: true,
    hashtags: true,
    timestamp: true,
    avatars: true,
    behavior: 'all'
  }
}).render().setList('dudarev', 'cnc-donetsk').start();
</script>

</div>
