<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>Донецкий кофе-и-код:  {{page.title}}</title>

   <link rel="alternate" type="application/rss+xml" title="Встречи" href="/rss.xml" />
   <link rel="icon" type="image/png" href="/favicon.png" />

   <script type="text/javascript" src="/js/gdocs.js"></script>
   <!--localhost<script type="text/javascript" src="https://www.google.com/jsapi?key=ABQIAAAAwaGAdBqc0C3COmyw-rm7oBT2yXp_ZAY8_ufC3CFXhHIE1NvwkxRO-Ju5qCI-X5whmqYDvb8QJJwllg"></script>-->
   <script src="https://www.google.com/jsapi?key=ABQIAAAAwaGAdBqc0C3COmyw-rm7oBT-ZW0uI_1rKLooqcT1W8i-mToF9hQviKd-HYTQJcwbsK3P9JZutQwY7g" type="text/javascript"></script>
   <script type='text/javascript'> 
        google.load("jquery", "1.4.4");
   </script> 

   <!-- LOL -->
   
   <!-- Group feeds via Google Feed API -->
   <!-- http://code.google.com/apis/ajax/playground/#dynamic_feed_control_-_vertical -->

   <!-- Dynamic Feed Control and Stylesheet -->
    <script src="http://www.google.com/uds/solutions/dynamicfeed/gfdynamicfeedcontrol.js"
            type="text/javascript"></script>
    <style type="text/css">
      @import url("http://www.google.com/uds/solutions/dynamicfeed/gfdynamicfeedcontrol.css");

      .gfg-entry{ 
          height: 12em;
      }
    </style>

    <script type="text/javascript" src="https://www.google.com/jsapi?key=ABQIAAAAwaGAdBqc0C3COmyw-rm7oBT2yXp_ZAY8_ufC3CFXhHIE1NvwkxRO-Ju5qCI-X5whmqYDvb8QJJwllg"></script>
    <script type="text/javascript">

    google.load('feeds', '1');

    function OnLoad() {
      var feeds = [
        {
          title: 'Посты',
          url: 'https://groups.google.com/group/cnc-donetsk/feed/atom_v1_0_msgs.xml'
        },
        {
          title: 'Темы',
          url: 'https://groups.google.com/group/cnc-donetsk/feed/atom_v1_0_topics.xml'
        }
      ];

      var options = {
        stacked : true,
        horizontal : false,
        title : "Группа",
        numResults: 5
      };

      new GFdynamicFeedControl(feeds, 'feed-widget', options);
      document.getElementById('feed-widget').style.width = "200px";
    }

    google.setOnLoadCallback(OnLoad);

    </script>

   <!-- end feed -->

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Twitter Bootstrap for buttons etc. version 1.4.0 as of 2011-12-14 -->
   <link rel="stylesheet" href="/css/bootstrap.min.css">

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <!-- Atom/RSS feed thing -->
   <link rel="alternate" type="application/atom+xml" title="Google Group Atom" href="http://groups.google.com/group/cnc-donetsk/feed/atom_v1_0_msgs.xml"> 

   <!-- Asynchronous Google Analytics snippet
   http://code.google.com/apis/analytics/docs/tracking/asyncTracking.html#Snippet -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-15346026-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

</head>
<body>

    <div id="main">

        <a href="/">
        <div id="title" class="container">
            <h1>Донецкий кофе-и-код</h1>
        </div>
        </a>

        <div class="container">

            <div id="sidebar">
                <ul>
                    <li><a href="/people.html">Люди</a></li>
                    <li><a href="/projects.html">Проекты</a></li>
                    <li><a href="/meetings.html">Встречи</a></li>
                    <li><a href="/help.html">В помощь</a></li>
                    <li><a href="/about.html">О нас</a></li>
                    <li><a href="/calendar.html">Календарь</a></li>
                    <li><a href="http://groups.google.com/group/cnc-donetsk">Google группа</a></li>
                </ul>
                <ul>
                    <li><a href="/live.html">Live Stream</a></li>
                    <li><a href="/rss.xml" id="rss-feed-menu">RSS Feed</a></li>
                </ul>
                <br/>
                <ul>
                    <li><strong><a href="/vacancies.html">Вакансии</a></strong></li>
                </ul>
                <br/>

                <div id="feed-widget"></div>
            </div>

            <div id="content">
                {{ content }}
            </div>
        </div>

        <div id="footer"></div>

    </div>

</div>

</body>
</html>
