---
layout: default
---
<div id="post">
  <h1>{{ page.title }}</h1>
  <p class="meta">
    <div id="plus1button">
        <!-- Place this tag where you want the +1 button to render -->
        <g:plusone size="medium"></g:plusone>

        <!-- Place this render call where appropriate -->
        <script type="text/javascript">
          window.___gcfg = {lang: 'ru'};

          (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();
        </script>    
    </div>

    <div class="page-date">{{ page.date | date: "%Y-%m-%d" }}</div>
  </p>
{{ content }}

<a href="https://github.com/troolee/cncdonetsk/blob/gh-pages/_posts/{{ page.date | date: "%Y-%m-%d"}}-{{ page.url | replace: '/meeting', '' | replace: '/vacancy', '' | replace: '.html', '.textile' | replace: '/', ''}}" target="_blank">
<button class="btn">Редактировать</button></a>

</div>

<div id="disqus_thread"></div>
<script type="text/javascript">
  (function() {
   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
   dsq.src = 'http://cnc-dn.disqus.com/embed.js';
   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=cnc-dn">comments powered by Disqus.</a></noscript>
